body {
    text-align: center;
}

table {
	text-align: center;
}

td {
    width: 50%;
    vertical-align: middle;
}

.func_params {
    letter-spacing: -1px;
}

.number_field {
    width: 4em;
}

#space {
    margin-left: 0;
}

#choose_num_vars {
    margin-top: 5%;
}

#choose_means {
    margin-top: 5%;
    display: none;
}

#build_graph {
    display: none;
}

